.gridPane{
    -fx-background-color: #808080;
    -fx-padding: 30;
    -fx-spacing: 30;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.label{
    -fx-font-size: 20;
    -fx-font-family: Impact;
    -fx-text-fill: white;
}

.button{
    -fx-pref-width: 200;
    -fx-pref-heigh: 20;
    -fx-background-color: GHOSTWHITE;
    -fx-text-fill: black;
    -fx-background-radius: 20 20 20 20;
    -fx-font-family: Impact;
    -fx-effect: dropshadow( gaussian , GHOSTWHITE , 0,0,0,2 );
    -fx-spacing: 5;
}

.textfield {
    -fx-spacing: 5;
    -fx-max-width: 300;
    -fx-padding: 5 15 5 15;
    -fx-text-fill: white;
    -fx-background-radius: 100px;
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-border-radius: 100px;
    -fx-effect: none;
    -fx-prompt-text-fill: gray;
}
